nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4098da;
  padding: 15px 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
}


.logo {
  color: white;
}

.profile-icon {
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-links li {
  display: inline;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.profile-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background: #4098da;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  z-index: 10;
  color: white;
}

.dropdown-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
}

.username {
  font-size: 14px;
}

.email {
  font-size: 11px;
}

hr {
  border: 0;
  height: 1px;
  background: white;
  margin: 10px 0;
  opacity: 0.5;
}

.dropdown-menu a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

.dropdown-menu a:hover {
  background: white;
  color: #4098da;
  border-radius: 5px;
}

.dropdown-menu a,
.dropdown-menu .logout-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu a:hover,
.dropdown-menu .logout-button:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.logout-button {
  justify-content: flex-start;
  color: white;
}

.logout-button:hover {
  color: #4098da;
}
